<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="pt-3">
                    <h3>Menu</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">Crear Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="#">Inventario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/products">Productos</a>
                        </li>
                   </ul>
                </div>
            </nav>
        </div> 
        <div class="col-md-9 col-lg-10 banner">
            <nav id="header" class=" navbar navbar-expand">
                <div class="container-fluid">
                    <h3>Pear Inc.</h3>
                </div>           
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>  
</div>
