<nav id="header" class="navbar navbar-expand">
  <div class="container">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
      <div class="ml-auto">
        <button class="btn btn-outline-info"><fa-icon [icon]="faCartArrowDown"></fa-icon> Carrito</button>
      </div>
  </div>  
</nav>
