#header {
    background: #506d79 !important;
}

#header a{
    color: #ffffff;
}

#header a.active{
    margin-top:-3px;
    color: #eeeeee;
    background-color: #648d9e;
}

fa-icon{
    color:#ffffff;
}

button{
    color:#ffffff;
}

button:hover{
    background-color: #0d6efd;
    color:#ffffff;
}