.size-img{
    display: block;
    height: 22em;
    width: 100%;
}
.size-img img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
}
.btn-update{
    background-color: #648d9e;
    border-color: #648d9e;
    margin-right: 0.3em;
}
.btn-update:hover{
    background-color: #5b8394;
    border-color: #5b8394;
}
