<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 pt-4">
            <form class="form-group">
                <h2 class="text-center">Contact Form</h2>
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example1" class="form-control" placeholder="Name" required/>
                </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form4Example2" class="form-control" placeholder="email" required/>
                </div>
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form4Example3" rows="4" placeholder="message" required></textarea>
                </div>
              
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form4Example4"
                    checked
                  />
                  <label class="form-check-label" for="form4Example4">
                     I agree to the terms and conditions <br>
                     and the privacy policy
                  </label>
                </div>              
                <button type="submit" class="btn btn-secondary btn-block mb-4"> Send</button>  
            </form>          
        </div>
        <!--
        <div class="col-md-6">
            <div class="row ">
                <img src="../../../../assets/images/contact-us.png" alt="">
            </div>
        </div>
        -->
    </div>
</div>